.ui.menu {
  &.hidden {
    display: none;
  }
  .right.menu {
    padding:4px;
  }
}

.masthead {
  &.segment {
    min-height: 300px;
    padding: 1em 0em;
  }

  .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .ui.pointing.menu a {
    display: inline-block;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
}

.main.container {
  margin: 6em 0 3em;
}

.footer {
  &.segment {
    padding: 5em 0em;
  }
  h4 {
    a {
      color: white;
      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .ui.menu {
    .item {
      font-size: 95%;
      padding: .8em;
    }
    .right.menu {
      visibility: hidden;
    }
  }
  .masthead {
    &.segment {
      min-height: 350px;
    }
    h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
    .item a.ui.button {
      box-shadow: 0 0 0 0 !important;
      span {
        display: none;
      }
    }
  }
}