<!-- Note to self: If you edit this, don't forget the AMP counterpart... -->
<div class="ui inverted vertical masthead center aligned segment">

  <% if (BUILD_TYPE != 'amp') { %>
    <div class="ui container stackable grid">
      <div class="ui large secondary pointing menu inverted nine wide column">
        <%- partial("_header-left") %>
      </div>
      <div class="item seven wide column">
        <a class="ui inverted button" href="https://www.linkedin.com/in/ecaron">
          <i class="linkedin square icon"></i>
          <span>LinkedIn</span>
          </a>
        <a class="ui inverted button" href="https://github.com/ecaron">
          <i class="github square icon"></i>
          <span>GitHub</span>
        </a>
        <a class="ui inverted button" href="https://twitter.com/ecaron">
          <i class="twitter square icon"></i>
          <span>Twitter</span>
        </a>
      </div>
    </div>
  <% } %>

  <div class="ui text container">
    <h1 class="ui inverted header">
      This is Eric Caron's digital center.
    </h1>
    <h2>Welcome to the central repository for [most] things that <abbr title="The one based in Minneapolis. There are many&hellip;">Eric</abbr> wants to talk about. Minnesota, APIs, products, recruiting, open source, and probably my family.</h2>
  </div>

</div>

<div class="ui vertical segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h2>Who I Am</h2>
        <p>I'm a technologist in Minnesota. I love my family and strongly believe in giving back to the community. I've worked in startups and I'm currently managing APIs at Best Buy.</p>
        <p>At the core of it all, I love demystifying technology and making it approachable to everyone. I've been lucky enough to keep having jobs where I get to learn about the business, listen to the customer, and imagine ways to serve both.</p>

        <h2>Why This Site</h2>
        <p>There are a lot of places on the internet where I have content, and I wanted to organize them. From public talks about product management, to open source projects, to bookmarks about my favorite tools for recruiting, I wanted to consolidate that material so it would always be easy to find.</p>

        <h2>What I'll Cover</h2>
        <p>Things that I'll talk about (in no particular order and certainly not all-inclusive): Programming, managing, food, Eden Prairie, open source, hiring, WordPress, email, Minnesota, APIs, family, Hacker News. I probably won't talk about politics or religion, but you're always welcome to ask.</p>
      </div>
      <div class="six wide right floated column">
        <% if (BUILD_TYPE == 'amp') { %>
          <amp-img src="assets/images/eric-caron.jpg" width="300" height="420"></amp-img>
        <% } else { %>
          <img src="assets/images/eric-caron.jpg" class="ui medium bordered circular image" alt="Headshot of Eric Caron">
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical stripe segment">
  <h4 class="ui horizontal header divider">
    <a href="/about/side-projects.html">My Current Projects</a>
  </h4>
  <div class="ui stackable centered divided grid">
    <div class="row">
      <div class="six wide column">
        <h3><i class="icon github"></i> <a href="https://github.com/ecaron/hue-website-nightlights">Hue Website Nightlights</a></h3>
        <p>I wrote this application to power the nightlight in my son's bedroom. It uses a <a href="https://www.raspberrypi.org/">Raspberry Pi</a> and <a href="http://www2.meethue.com/en-us/">Philips Hue</a>, giving him a button on his bed to turn on the nightlight. Features include a web-interface to control time-of-day colors, activity log, and timer for auto shut-off.</p>
      </div>
      <div class="six wide column">
        <h3><i class="icon github"></i> <a href="https://github.com/ecaron/node-bandwidth-tester">Node.js Bandwidth Tester</a></h3>
        <p>Tired of debugging bandwidth issues for family &amp; friends, I wrote this tiny application to measure download speeds and latency. It then logs that information on a remote server for diagnostic purposes. The hardware involed is under $10, and small enough to plug into the back of a modem/router without becoming an eye sore.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h4 class="ui horizontal header divider">
      <a href="/about/articles.html">My Recent Articles &amp; Talks</a>
    </h4>

    <h3 class="ui icon header center aligned">
      <i class="icon medium"></i>
      <div class="content"><a href="https://medium.com/@ecaron/conferences-minnebar-it-isnt-about-the-talks-it-s-about-the-talking-51e2c73378b3">Conferences & Minnebar: It isn’t about the talks. It’s about the talking.</a></div>
    </h3>
    <p>Not every business sees the immediate ROI of sending employees to conferences. In this article, I weigh in on the difference between conferences & trainings - explaining why conferences are so essential to fostering an innovative culture.</p>

    <h3 class="ui icon header center aligned">
      <i class="icon exchange"></i>
      <div class="content"><a href="https://apiworld2016.sched.org/event/7tRQ/the-blessings-and-curses-of-offering-a-free-public-api">The Blessings and Curses of Offering a Free Public API</a></div>
    </h3>
    <p>At API World in September 2016, I gave a brief 20 minute talk about the history of Best Buy's API platform. I dove into some things that went wrong, and what lessons we learned from it. <em>Along the way I also got nerdy on my Keynote presentation skills, but that was just a gift for me.</em></p>

    <h3 class="ui icon header center aligned">
      <i class="icon medium"></i>
      <div class="content"><a href="https://medium.com/@ecaron/why-i-stopped-hacking-the-amazon-dash-button-and-learned-to-solder-84386a38bbd1">Why I stopped hacking the Amazon Dash button and learned to solder</a></div>
    </h3>
    <p>I have a computer science background, and the closest I ever got to hardware was plugging RAM into a motherboard. In building my child's nightlight, I leveraged the <a href="https://medium.com/@brody_berson/hacking-amazon-s-5-dash-button-to-order-domino-s-pizza-9d19c9d04646">Hacking Amazon's $5 Dash Button to order Domino's Pizza</a> functionality to make my system work. But it never worked that great (not everything was meant to be hacked). So I dusted off my soldering iron and learned how to use it right, and the result was very satisfying &amp; empowering.</p>
  </div>
</div>

<div class="ui hidden divider"></div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Eric Caron",
  "url": "https://ericcaron.com/",
  "sameAs": [
    "https://github.com/ecaron",
    "https://twitter.com/ecaron",
    "https://www.linkedin.com/in/ecaron"
  ]
}
</script>
