<a href="/" class="item <%- current.path[0] == 'index' ? 'active' : '' %>">Home</a>
<a href="/about/" class="item <%- current.source == 'about' ? 'active' : '' %> <%- current.path[0] == 'about' ? 'active' : '' %>">About</a>
<a href="/interests/" class="item <%- current.source == 'interests' ? 'active' : '' %> <%- current.path[0] == 'interests' ? 'active' : '' %>">Interests</a>
<a href="/contact.html" class="item <%- current.source == 'contact' ? 'active' : '' %>">Contact Me</a>