---
title: Welcome to EricCaron.com
layout: 2018.njk
---
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container stackable grid">
    <div class="ui large secondary pointing menu inverted nine wide column">
      {% include "_header-left.njk" %}
    </div>
    <div class="item seven wide column">
      <a class="ui inverted button" href="https://www.linkedin.com/in/ecaron">
        <i class="linkedin square icon"></i>
        <span>LinkedIn</span>
        </a>
      <a class="ui inverted button" href="https://github.com/ecaron">
        <i class="github square icon"></i>
        <span>GitHub</span>
      </a>
      <a class="ui inverted button" href="https://twitter.com/ecaron">
        <i class="twitter square icon"></i>
        <span>Twitter</span>
      </a>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      This is Eric Caron's digital center.
    </h1>
    <h2>Welcome to the central repository for [most] things that <abbr title="The one based in Minneapolis. There are many&hellip;">Eric</abbr> wants to talk about. Minnesota, coffee, APIs, products, recruiting, open source, and probably my family.</h2>
  </div>

</div>

<div class="ui vertical segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h2>Who I Am</h2>
        <p>I'm a technologist in Minnesota. I love my family and strongly believe in giving back to the community. I've worked in startups and big corporations (Best Buy). I'm currently Sr. Director of Customer Applications at Caribou Coffee, where I'm responsible for making sure every customer has a fantastic digital experience.</p>
        <p>At the core of it all, I love demystifying technology and making it approachable to everyone. I've been lucky enough to keep having jobs where I get to learn about the business, listen to the customer, and imagine ways to serve both.</p>

        <h2>Why This Site</h2>
        <p>There are a lot of places on the internet where I have content, and I wanted to organize them. From public talks about product management, to open source projects, to bookmarks about my favorite tools for recruiting, I wanted to consolidate that material so it would always be easy to find.</p>

        <h2>What I'll Cover</h2>
        <p>Things that I'll talk about (in no particular order and certainly not all-inclusive): Programming, managing, food, Eden Prairie, open source, hiring, WordPress, email, Minnesota, APIs, family, Hacker News. I probably won't talk about politics or religion, but you're always welcome to ask.</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/images/eric-caron.jpg" class="ui medium bordered circular image" alt="Headshot of Eric Caron">
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical stripe segment">
  <h4 class="ui horizontal header divider">
    <a href="/about/side-projects.html">My Current Projects</a>
  </h4>
  <div class="ui stackable centered divided grid">
    <div class="row">
      <div class="six wide column">
        <h3><i class="icon github"></i> <a href="https://github.com/ecaron/smart-nightlight-manager">Smart Nightlight Manager</a></h3>
        <p>I wrote this application to power the nightlight in my son's bedroom. It now powers a dozen lights throughout my house, and it uses a <a href="https://www.raspberrypi.org/">Raspberry Pi</a> and <a href="http://www2.meethue.com/en-us/">Philips Hue</a>, to turn on/off the lights & set colors. Features include a web-interface to control time-of-day colors, activity log, and timer for auto shut-off.</p>
      </div>
      <div class="six wide column">
        <h3><i class="icon github"></i> <a href="https://github.com/ecaron/waterrower-game">WaterRower Game</a></h3>
        <p>This is a simple NodeJS application that connects to a <a href="https://www.waterrower.com/us/" rel="nofollow">WaterRower</a> (with the <a href="https://www.waterrower.com/us/shop/accessories/commodule.html" rel="nofollow">S4 module</a>) and creates charts &amp; games that can be accessed by any web browser.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h4 class="ui horizontal header divider">
      <a href="/about/articles.html">My Recent Articles &amp; Talks</a>
    </h4>
    <h3 class="ui icon header center aligned">
      <i class="icon podcast"></i>
      <div class="content"><a href="https://constantvariables.co/episodes/117">[Podcast] APIs: Oofda! with Eric Caron of Caribou Coffee</a></div>
    </h3>
    <p>In May 2022 I spoke again with the <a href="https://constantvariables.co/">Constant Variables podcast</a>. We leaned heavy into the land of APIs, but with the goal of making sure everyone knew they were approachable. Although it did get a bit nerdy, we kept returning to empowering anyone to feel comfortable understanding how APIs should be a part of their business.</em></p>

    <h3 class="ui icon header center aligned">
      <i class="icon podcast"></i>
      <div class="content"><a href="https://constantvariables.co/episodes/94">[Podcast] Startup Mentality, API Management, and Corporate Apps</a></div>
    </h3>
    <p>In October 2021 I spoke with the <a href="https://constantvariables.co/">Constant Variables podcast</a>. I covered a lot of my passions, from what it means to have a startup mentality in a corporate environment &amp; why it is vital to think of your digital products the same way you think of the physical assets you own.</em></p>

    <h3 class="ui icon header center aligned">
      <i class="icon newspaper"></i>
      <div class="content"><a href="https://cloud.google.com/blog/products/identity-security/caribou-coffee-secures-webpages-with-recaptcha-enterprise">How Caribou Coffee uses reCAPTCHA</a></div>
    </h3>
    <p>In August 2021 I wrote with the <a href="https://cloud.google.com/blog/">Google Cloud Blog</a>. Stopping bad actors isn't a fun topic, but it is vital to do it right. Here I highlight a solution we implemented that made customers happy &amp; hackers angry!</p>

    <h3 class="ui icon header center aligned">
      <i class="icon newspaper"></i>
      <div class="content"><a href="https://agile.cioreview.com/cxoinsight/five-reasons-your-waterfall-team-can-t-go-agile-nid-30711-cid-200.html">Five Reasons Your Waterfall Team Can't Go Agile</a></div>
    </h3>
    <p>In December 2019 I wrote again for <a href="https://agile.cioreview.com/">CIOReview</a>. This time I weighed in on the nuances of taking a team using waterfall methologies &amp; enabling them to benefit from the Agile - without having to swap methods altogether.</em></p>


    <h3 class="ui icon header center aligned">
      <i class="icon newspaper"></i>
      <div class="content"><a href="https://www.cioreview.com/cxoinsight/is-your-app-sparking-joy-nid-28566-cid-19.html">Is Your App Sparking Joy?</a></div>
    </h3>
    <p>In May 2019 I wrote an article for <a href="https://mobile.cioreview.com/">CIOReview</a>. I took this opportunity to remind technology leaders that nobody <strong>has</strong> to have a mobile app, and if they aren't proud of it then they should sunset it.</em></p>

  </div>
</div>

<div class="ui hidden divider"></div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Eric Caron",
  "url": "https://ericcaron.com/",
  "sameAs": [
    "https://github.com/ecaron",
    "https://twitter.com/ecaron",
    "https://www.linkedin.com/in/ecaron"
  ]
}
</script>
